final_ask1.txt
gg.txt
in.txt
kalathas
kalathas.c
test
test_final
test_final.c
test_final.txt
test.c
test2
test2.c
testaray
testarray
testarray.c
ask2_test.txt
final_ask1
parent.c
gate_ver1
gates_ver1
clock_example
child
clock_example
clock_example.c
parent
.vscode/settings.json
children_wait_example.c
example_wait
example_wait.c
gates_ver2
gates_ver2.c
